In [1]:
import pandas as pd
import numpy as np

In [2]:
#file path
netflix_credits = "Resources/credits(Netflix).csv"
netflix_title = "Resources/titles(Netflix).csv"
hulu_credits = "Resources/credits(Hulu).csv"
hulu_title = "Resources/titles(Hulu).csv"
hbo_credits = "Resources/credits(HBO).csv"
hbo_title = "Resources/titles(HBO).csv"

In [3]:
#read in csv files
net_credit_df = pd.read_csv(netflix_credits)
net_title_df = pd.read_csv(netflix_title)
hulu_credit_df = pd.read_csv(hulu_credits)
hulu_title_df = pd.read_csv(hulu_title)
hbo_credit_df = pd.read_csv(hbo_credits)
hbo_title_df = pd.read_csv(hbo_title)

In [4]:
net_credit_df.head()

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [5]:
hulu_credit_df.head()

   person_id       id           name                  character   role
0      85144  ts20475    Aidy Bryant  Self - Various Characters  ACTOR
1      85141  ts20475    Michael Che  Self - Various Characters  ACTOR
2      87723  ts20475  Pete Davidson  Self - Various Characters  ACTOR
3      99154  ts20475      Mikey Day  Self - Various Characters  ACTOR
4      26921  ts20475     Colin Jost  Self - Various Characters  ACTOR

In [6]:
hbo_credit_df.head()

,person_id,id,name,character,role
0,60017,tm155702,Judy Garland,Dorothy Gale,ACTOR
1,53496,tm155702,Ray Bolger,Hunk / Scarecrow,ACTOR
2,79549,tm155702,Jack Haley,Hickory / Tin Man,ACTOR
3,79548,tm155702,Bert Lahr,Zeke / Cowardly Lion,ACTOR
4,60995,tm155702,Margaret Hamilton,Elmira Gulch / Wicked Witch of the West,ACTOR

In [7]:
net_title_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [8]:
hulu_title_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9
1,ts20413,M*A*S*H,SHOW,The 4077th Mobile Army Surgical Hospital is st...,1972,TV-PG,26,"['war', 'comedy', 'drama']",['US'],11.0,tt0068098,8.4,55882.0,27.308,8.0
2,ts20005,I Love Lucy,SHOW,Cuban Bandleader Ricky Ricardo would be happy ...,1951,TV-G,30,"['comedy', 'family']",['US'],9.0,tt0043208,8.5,25944.0,17.088,8.1
3,ts20669,Taxi,SHOW,"Louie De Palma is a cantankerous, acerbic taxi...",1978,TV-PG,25,"['drama', 'comedy']",['US'],5.0,tt0077089,7.7,13379.0,14.346,7.3
4,ts21049,The Mary Tyler Moore Show,SHOW,30-year-old single Mary Richards moves to Minn...,1970,TV-PG,28,['comedy'],['US'],7.0,tt0065314,8.2,8692.0,9.290,7.5

In [9]:
hbo_title_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6
1,tm83648,Citizen Kane,MOVIE,"Newspaper magnate, Charles Foster Kane is take...",1941,PG,119,['drama'],['US'],NaN,tt0033467,8.3,433804.0,14.383,8.0
2,tm77588,Casablanca,MOVIE,"In Casablanca, Morocco in December 1941, a cyn...",1942,PG,102,"['drama', 'romance', 'war']",['US'],NaN,tt0034583,8.5,558849.0,20.087,8.2
3,tm82363,The Big Sleep,MOVIE,Private Investigator Philip Marlowe is hired b...,1946,NaN,116,"['thriller', 'crime']",['US'],NaN,tt0038355,7.9,84494.0,12.911,7.7
4,tm84701,The Maltese Falcon,MOVIE,A private detective takes on a case that invol...,1941,NaN,100,"['thriller', 'romance', 'crime']",['US'],NaN,tt0033870,8.0,156603.0,12.788,7.8

In [10]:
#merge data frames
#merge Netflix first
netflix_df = pd.merge(net_credit_df, net_title_df, how='outer', on=['id','id'])
netflix_df['Netflix'] = 1

#merge Hulu
hulu_df = pd.merge(hulu_credit_df, hulu_title_df, how='outer', on=['id','id'])
hulu_df["Hulu"] = 1

#merge HBO
hbo_df = pd.merge(hbo_credit_df, hbo_title_df, how='outer', on=['id','id'])
hbo_df["HBO"] = 1

#netflix_df
#hulu_df
#hbo_df

In [11]:
#merge all data frames into one
combined_df = pd.merge(pd.merge(netflix_df, hulu_df, how='outer'), hbo_df, how='outer')
combined_df

,person_id,id,name,character,role,title,type,description,release_year,age_certification,...,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Netflix,Hulu,HBO
0,3748.0,tm84618,Robert De Niro,Travis Bickle,ACTOR,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,...,['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,1.0,NaN,NaN
1,14658.0,tm84618,Jodie Foster,Iris Steensma,ACTOR,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,...,['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,1.0,NaN,NaN
2,7064.0,tm84618,Albert Brooks,Tom,ACTOR,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,...,['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,1.0,NaN,NaN
3,3739.0,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,...,['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,1.0,NaN,NaN
4,48933.0,tm84618,Cybill Shepherd,Betsy,ACTOR,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,...,['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175645,NaN,ts319023,NaN,NaN,NaN,The Humboldt Current,SHOW,NaN,2021,NaN,...,[],1.0,tt15909050,NaN,NaN,NaN,NaN,NaN,NaN,1.0
175646,NaN,ts343723,NaN,NaN,NaN,One True Singer,SHOW,One True Singer is the musical show which prom...,2022,NaN,...,['US'],1.0,tt18885618,NaN,NaN,2.744,7.000,NaN,NaN,1.0
175647,NaN,tm1108051,NaN,NaN,NaN,Neh,MOVIE,"On a date, a young Korean-American attempts to...",2021,NaN,...,[],NaN,tt13925468,NaN,NaN,NaN,NaN,NaN,NaN,1.0
175648,NaN,tm1121489,NaN,NaN,NaN,Entre Nos: What She Said,MOVIE,A stand-up comedy special featuring Shari Diaz...,2021,NaN,...,[],NaN,tt15532762,NaN,NaN,NaN,NaN,NaN,NaN,1.0
175649,NaN,tm1121486,NaN,NaN,NaN,Entre Nos: The Winners 2,MOVIE,Comedy special starring winners of the second ...,2021,NaN,...,[],NaN,tt15532736,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [12]:
combined_df = combined_df[['id', 'Netflix', 'Hulu', 'HBO', 'title', 'type', 'age_certification', 'runtime', 'genres', 'name', 'character', 'role', 'release_year', 'seasons', 'imdb_score', 'imdb_votes', 'production_countries']]
combined_df

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,genres,name,character,role,release_year,seasons,imdb_score,imdb_votes,production_countries
0,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Robert De Niro,Travis Bickle,ACTOR,1976,NaN,8.2,808582.0,['US']
1,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Jodie Foster,Iris Steensma,ACTOR,1976,NaN,8.2,808582.0,['US']
2,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Albert Brooks,Tom,ACTOR,1976,NaN,8.2,808582.0,['US']
3,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,1976,NaN,8.2,808582.0,['US']
4,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Cybill Shepherd,Betsy,ACTOR,1976,NaN,8.2,808582.0,['US']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175645,ts319023,NaN,NaN,1.0,The Humboldt Current,SHOW,NaN,51,['documentation'],NaN,NaN,NaN,2021,1.0,NaN,NaN,[]
175646,ts343723,NaN,NaN,1.0,One True Singer,SHOW,NaN,67,['reality'],NaN,NaN,NaN,2022,1.0,NaN,NaN,['US']
175647,tm1108051,NaN,NaN,1.0,Neh,MOVIE,NaN,14,[],NaN,NaN,NaN,2021,NaN,NaN,NaN,[]
175648,tm1121489,NaN,NaN,1.0,Entre Nos: What She Said,MOVIE,NaN,28,['comedy'],NaN,NaN,NaN,2021,NaN,NaN,NaN,[]
175649,tm1121486,NaN,NaN,1.0,Entre Nos: The Winners 2,MOVIE,NaN,28,['comedy'],NaN,NaN,NaN,2021,NaN,NaN,NaN,[]

In [13]:
combined_df.dropna(subset=['imdb_score','genres'])

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,genres,name,character,role,release_year,seasons,imdb_score,imdb_votes,production_countries
0,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Robert De Niro,Travis Bickle,ACTOR,1976,NaN,8.2,808582.0,['US']
1,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Jodie Foster,Iris Steensma,ACTOR,1976,NaN,8.2,808582.0,['US']
2,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Albert Brooks,Tom,ACTOR,1976,NaN,8.2,808582.0,['US']
3,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,1976,NaN,8.2,808582.0,['US']
4,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Cybill Shepherd,Betsy,ACTOR,1976,NaN,8.2,808582.0,['US']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175636,ts304558,NaN,NaN,1.0,NYC Epicenters 9/11âž”2021Â½,SHOW,TV-MA,110,['documentation'],NaN,NaN,NaN,2021,1.0,7.1,673.0,['US']
175639,ts320289,NaN,NaN,1.0,40 Means Nothing,SHOW,NaN,38,['reality'],NaN,NaN,NaN,2021,1.0,6.1,14.0,['MX']
175640,ts314732,NaN,NaN,1.0,Dolores: The Truth About the Wanninkhof Case,SHOW,TV-14,43,"['documentation', 'crime']",NaN,NaN,NaN,2021,1.0,7.4,245.0,['ES']
175641,ts309677,NaN,NaN,1.0,Level Playing Field,SHOW,TV-14,26,['documentation'],NaN,NaN,NaN,2021,1.0,5.5,60.0,['US']
175644,ts300392,NaN,NaN,1.0,Through Our Eyes,SHOW,NaN,33,['documentation'],NaN,NaN,NaN,2021,1.0,6.1,38.0,['US']

In [14]:
combined_df = combined_df[combined_df['imdb_score'] > 6.5]
combined_df

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,genres,name,character,role,release_year,seasons,imdb_score,imdb_votes,production_countries
0,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Robert De Niro,Travis Bickle,ACTOR,1976,NaN,8.2,808582.0,['US']
1,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Jodie Foster,Iris Steensma,ACTOR,1976,NaN,8.2,808582.0,['US']
2,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Albert Brooks,Tom,ACTOR,1976,NaN,8.2,808582.0,['US']
3,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,1976,NaN,8.2,808582.0,['US']
4,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Cybill Shepherd,Betsy,ACTOR,1976,NaN,8.2,808582.0,['US']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175631,tm1082045,NaN,NaN,1.0,Euphoria: F*ck Anyone Whoâ€™s Not A Sea Blob,MOVIE,R,55,['drama'],NaN,NaN,NaN,2021,NaN,8.8,NaN,['US']
175632,ts303730,NaN,NaN,1.0,Traffickers: Inside the Golden Triangle,SHOW,NaN,45,['documentation'],NaN,NaN,NaN,2021,1.0,7.3,44.0,[]
175633,ts251698,NaN,NaN,1.0,"Pray, Obey, Kill",SHOW,TV-14,57,"['crime', 'documentation']",NaN,NaN,NaN,2021,1.0,6.6,1043.0,['SE']
175636,ts304558,NaN,NaN,1.0,NYC Epicenters 9/11âž”2021Â½,SHOW,TV-MA,110,['documentation'],NaN,NaN,NaN,2021,1.0,7.1,673.0,['US']
175640,ts314732,NaN,NaN,1.0,Dolores: The Truth About the Wanninkhof Case,SHOW,TV-14,43,"['documentation', 'crime']",NaN,NaN,NaN,2021,1.0,7.4,245.0,['ES']

In [15]:
combined_df = combined_df[combined_df['imdb_votes'] > 10000]
combined_df

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,genres,name,character,role,release_year,seasons,imdb_score,imdb_votes,production_countries
0,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Robert De Niro,Travis Bickle,ACTOR,1976,NaN,8.2,808582.0,['US']
1,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Jodie Foster,Iris Steensma,ACTOR,1976,NaN,8.2,808582.0,['US']
2,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Albert Brooks,Tom,ACTOR,1976,NaN,8.2,808582.0,['US']
3,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,1976,NaN,8.2,808582.0,['US']
4,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Cybill Shepherd,Betsy,ACTOR,1976,NaN,8.2,808582.0,['US']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173984,tm996852,NaN,NaN,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Jim Pirri,Sal Maroni (voice),ACTOR,2021,NaN,7.1,12033.0,['US']
173985,tm996852,NaN,NaN,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Zach Callison,Young Bruce Wayne (voice),ACTOR,2021,NaN,7.1,12033.0,['US']
173986,tm996852,NaN,NaN,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Rick D. Wasserman,Bodyguard (voice),ACTOR,2021,NaN,7.1,12033.0,['US']
173987,tm996852,NaN,NaN,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Chris Palmer,NaN,DIRECTOR,2021,NaN,7.1,12033.0,['US']
175526,tm239708,NaN,NaN,1.0,All the Way,MOVIE,NaN,132,"['drama', 'documentation', 'history']",NaN,NaN,NaN,2016,NaN,7.3,14152.0,['US']

In [16]:
combined_df = combined_df.fillna({"age_certification": '',
                    "name": '--',
                    "character": '--',
                    "role": '--',
                    "Netflix": 0,
                    "Hulu": 0,
                    "HBO": 0,
                    "seasons": 0})
combined_df

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,genres,name,character,role,release_year,seasons,imdb_score,imdb_votes,production_countries
0,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Robert De Niro,Travis Bickle,ACTOR,1976,0.0,8.2,808582.0,['US']
1,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Jodie Foster,Iris Steensma,ACTOR,1976,0.0,8.2,808582.0,['US']
2,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Albert Brooks,Tom,ACTOR,1976,0.0,8.2,808582.0,['US']
3,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,1976,0.0,8.2,808582.0,['US']
4,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Cybill Shepherd,Betsy,ACTOR,1976,0.0,8.2,808582.0,['US']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173984,tm996852,0.0,0.0,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Jim Pirri,Sal Maroni (voice),ACTOR,2021,0.0,7.1,12033.0,['US']
173985,tm996852,0.0,0.0,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Zach Callison,Young Bruce Wayne (voice),ACTOR,2021,0.0,7.1,12033.0,['US']
173986,tm996852,0.0,0.0,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Rick D. Wasserman,Bodyguard (voice),ACTOR,2021,0.0,7.1,12033.0,['US']
173987,tm996852,0.0,0.0,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Chris Palmer,--,DIRECTOR,2021,0.0,7.1,12033.0,['US']
175526,tm239708,0.0,0.0,1.0,All the Way,MOVIE,,132,"['drama', 'documentation', 'history']",--,--,--,2016,0.0,7.3,14152.0,['US']

In [17]:
movie_df = combined_df[combined_df["type"]=="MOVIE"]
movie_df

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,genres,name,character,role,release_year,seasons,imdb_score,imdb_votes,production_countries
0,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Robert De Niro,Travis Bickle,ACTOR,1976,0.0,8.2,808582.0,['US']
1,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Jodie Foster,Iris Steensma,ACTOR,1976,0.0,8.2,808582.0,['US']
2,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Albert Brooks,Tom,ACTOR,1976,0.0,8.2,808582.0,['US']
3,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,1976,0.0,8.2,808582.0,['US']
4,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,R,114,"['drama', 'crime']",Cybill Shepherd,Betsy,ACTOR,1976,0.0,8.2,808582.0,['US']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173984,tm996852,0.0,0.0,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Jim Pirri,Sal Maroni (voice),ACTOR,2021,0.0,7.1,12033.0,['US']
173985,tm996852,0.0,0.0,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Zach Callison,Young Bruce Wayne (voice),ACTOR,2021,0.0,7.1,12033.0,['US']
173986,tm996852,0.0,0.0,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Rick D. Wasserman,Bodyguard (voice),ACTOR,2021,0.0,7.1,12033.0,['US']
173987,tm996852,0.0,0.0,1.0,"Batman: The Long Halloween, Part Two",MOVIE,R,87,"['crime', 'animation', 'action', 'horror', 'sc...",Chris Palmer,--,DIRECTOR,2021,0.0,7.1,12033.0,['US']
175526,tm239708,0.0,0.0,1.0,All the Way,MOVIE,,132,"['drama', 'documentation', 'history']",--,--,--,2016,0.0,7.3,14152.0,['US']

In [18]:
show_df = combined_df[combined_df["type"]=="SHOW"]
show_df

,id,Netflix,Hulu,HBO,title,type,age_certification,runtime,genres,name,character,role,release_year,seasons,imdb_score,imdb_votes,production_countries
163,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,TV-14,30,"['comedy', 'european']",Graham Chapman,Various,ACTOR,1969,4.0,8.8,73424.0,['GB']
164,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,TV-14,30,"['comedy', 'european']",Michael Palin,"Various / ""It's"" man",ACTOR,1969,4.0,8.8,73424.0,['GB']
165,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,TV-14,30,"['comedy', 'european']",Terry Jones,Various,ACTOR,1969,4.0,8.8,73424.0,['GB']
166,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,TV-14,30,"['comedy', 'european']",Eric Idle,Various,ACTOR,1969,4.0,8.8,73424.0,['GB']
167,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,TV-14,30,"['comedy', 'european']",Terry Gilliam,Various,ACTOR,1969,4.0,8.8,73424.0,['GB']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173445,ts249912,0.0,0.0,1.0,Tokyo Revengers,SHOW,TV-14,24,"['drama', 'animation', 'action', 'crime', 'sci...",Shunsuke Takeuchi,Makoto Suzuki (voice),ACTOR,2021,1.0,8.2,13520.0,['JP']
173446,ts249912,0.0,0.0,1.0,Tokyo Revengers,SHOW,TV-14,24,"['drama', 'animation', 'action', 'crime', 'sci...",Shota Hayama,Kazushi Yamagishi (voice),ACTOR,2021,1.0,8.2,13520.0,['JP']
173447,ts249912,0.0,0.0,1.0,Tokyo Revengers,SHOW,TV-14,24,"['drama', 'animation', 'action', 'crime', 'sci...",Satoshi Hino,Masataka Koyomizu (voice),ACTOR,2021,1.0,8.2,13520.0,['JP']
173448,ts249912,0.0,0.0,1.0,Tokyo Revengers,SHOW,TV-14,24,"['drama', 'animation', 'action', 'crime', 'sci...",Masaaki Mizunaka,Keisuke Baji (voice),ACTOR,2021,1.0,8.2,13520.0,['JP']
173449,ts249912,0.0,0.0,1.0,Tokyo Revengers,SHOW,TV-14,24,"['drama', 'animation', 'action', 'crime', 'sci...",Subaru Kimura,Haruki Hayashida (voice),ACTOR,2021,1.0,8.2,13520.0,['JP']

In [20]:
#export csv's to resources folder
from pathlib import Path
filepath = Path("Resources/movie_df.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
movie_df.to_csv(filepath)

filepath2 = Path("Resources/show_df.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
show_df.to_csv(filepath2)